<footer class="site-footer">
<div style="text-align:center;">
            <img src="static/images/footer-geyamna.png">
          <img id="contact_us" src="static/images/gold-logo.png" style="width:20%;">
</div>
    <div style="text-align:center;" >
        <p> <b >+966532206694  </b><i class="fa-solid fa-phone" style="color: #bbdb48;padding-right:2%"></i>   <b>+966500306677  </b><i class="fa-solid fa-phone" style="color: #bbdb48;"></i></p>
        <p >    <b >Alareedh.lawfirm@gmail.com  </b><i class="fa-solid fa-envelope" style="color: #bbdb48;"></i></p>


    </div>
</footer>


</body>


    </html>