<!DOCTYPE html>
<html  lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
      <link rel="stylesheet" href="static/build/index.css">
  </head>
  <body>
<footer class="site-footer">
<div style="text-align:center;">
            <img src="static/images/footer-geyamna.png">
          <img id="contact_us" src="static/images/gold-logo.png" style="width:25%;">
</div>
    <div style="text-align:center;" style="width:25%;">
        <p  > <b>966532206694+  </b><i class="fa-solid fa-phone" style="color: #bbdb48;"></i>   <b>966500306677+  </b><i class="fa-solid fa-phone" style="color: #bbdb48;"></i></p>
        <p>    <b >Alareedh.lawfirm@gmail.com  </b><i class="fa-solid fa-envelope" style="color: #bbdb48;"></i></p>


    </div>
</footer>


</body>


    </html>