
    <div class="page-banner">
      <div class="page-banner__bg-image" style="background-image: url('static/images/header.jpg')"></div>
      <div class="page-banner__content container t-center c-white">
          <img src="static/images/logo.png" style="width:40%">
        <h2 class="h_4" style="margin-top:0; margin-bottom:0">العريض للمحاماة والإستشارات القانونية</h2>
        <h3 class="h_4" style="margin-top:5px;" >ALAREEDH LAW FIRM</h3>


      </div>
    </div>

<div class="container text-right" style="padding-bottom:5%;">
      <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6" style="text-align:left;width:30%;">
          <img src="static/images/gold-no-bg.png">
        </div>
        <div id="our" class="col-lg-8 col-md-8 col-sm-6" style="text-align:right;width:70%;">
            <h3 class="h_4" style="margin-right:20%">: من نحن </h3>
            <h4 class="about_us">تأسست شركة عبدالله صالح العريض للمحاماة والاستشارات القانونية بالمملكة العربية السعودية فى مدينة الرياض بموجب ترخيص مزاولة أعمال المحاماة من قبل وزارة العدل . متخصصون في مجال العمل القانونى وأعمال المحاماة بكفاءة عالية وتضمن لكل عملائنا تنفيذ خدماتهم بما يلبي كل احتياجاتهم ومتطلباتهم ونفتخر بكوننا من أبرز مكاتب المحاماة بالمملكة العربية السعودية في توفير الخدمات والاستشارات القانونية المتميزة التي تحقق أعلى معايير الجودة بطرق مبتكرة وغير تقليدية على جميع المستويات المحلية والإقليميـة والـدوليـة، حسب أفضل المنهجيات القانونية وأحدث الممارسات الدولية في المجال القانوني نتشرف بتقديم مجموعة واسعة ومتنوعة من خدمات المحاماة المتكاملة في مكان واحد بسرعة ودقة في كل الاختصاصات القانونية مما يوفر الوقت والجهد والتكلفة على عملائنا، من خلال توفير خدمات مصممة خصيصا وبشكل شخصي لهم عبر الفهم الدقيق لمتطلباتهم واحتياجاتهم وتفاصيل قضاياهم مع الإستمرار في مواكبة التطورات المختلفة  </h4>
            <br>
            <h4 class="h_4" style="margin-right:20%"> : رؤيتنا</h4>
            <h3 class="about_us" >
                .الصدارة والريادة في تقديم الخدمات القانونية الموثوقة التي توفر قيمة مضافة لعملائنا الكرام
            </h3>
            </div>
        </div>
        </div>

</div>



         <img id="our_massages" class="header-img" src="static/images/resaltna-no-bg.png" >


        <div  class="resaltn" style="text-align:right">
             <h3 class="about_us" >
            أن نتمكن من تحقيق العدالة بأسمى معانيها وإرجاع الحقوق إلى أصحابها من خلال نخبة من المحامينوالمستشارين
            ذوي الخبرة والكفاءة العالية وفق معايير مهنة المحاماة السامية ونحن في شركة عبدالله صالح العريض
            للمحاماة والإستشارات القانونية نعتز بالنجاحات الكثيرة في القضايا الكبرى في مختلف الإختصاصات القانونية التي حققناها
        </h3>
            </div>
    <div style="text-align:center">
        <img class="images" src="static/images/resaltna-img.jpg" style="width:70%;">
    </div>




         <img id="geyamona" class="header-img" src="static/images/gaymna-no-bg.png">

    <div class="resaltn" style="text-align:right">
             <h2 class="about_us" >
           : نلتزم في جميع أعمالنا بالتطبيق العملي للقيم التي نؤمن بها وأهمها


        </h2>
        <img src="static/images/geyamna-page.jpg" >
            </div>
    <img class="images" src="static/images/footer-geyamna.png" >


    <img id="our_goals" class="header-img" src="static/images/ahdafna.png">
    <div class="resaltn" style="text-align:right">
             <h2 class="about_us" style="padding-bottom:3%;">
                 : نحرص على تحقيق مجموعة من الأهداف المتناغمة والمتكاملة , وأهمها
             </h2>
        <h3 class="about_us" >
            توفير أفضل الحلول القانونية لمجموعة واسعة من المستفيدين داخل المملكة العربية السعودية وخارجها
            <br>
            <br>
            المحافظة على خصوصية العملاء وحماية أسرارهم وبيانتهم
            <br>
            <br>
            الإلتزام بالأخلاقيات السامية لمهنة المحاماة
            <br>
            <br>
            التطوير المستمر والتحسين الدائم
        </h3>
    </div>
     <div style="text-align:center">
        <img class="images" src="static/images/hammer.png" style="width:70%;padding-top:5%">
    </div>



    <img id="our_services" class="header-img" src="static/images/services.png">
    <div>
        <div class="resaltn" style="text-align:right">
             <h3 class="about_us"">
                 تقدم الشركة مجموعة متكاملة من الخدمات بإحترافية وكفاءة إعتمادا على نخبة من أفضل المحامين والمستشارين القانونيين المتميزين في جميع التخصصات , ذوي المؤهلات العلمية العالية والخبرات التراكمية الطويلة والمتمرسين في المجال القانوني وتشمل خدماتنا التخصصية على خيارات متعددة تناسب كافة الإحتياجات وأهمها
                 <br>
                 <br>
                 <br>
                  <strong>: الترافع والتقاضي</strong>
                 <br>
                  تمثيل الموكلين في كافة أنواع الدعاوى المدنية والجزائية والتجارية والإدارية والعمالية والتنفيذ سواء مدعين أو مدعى عليهم أمام جميع المحاكم بمختلف أنواعها ودرجاتها وكذلك أمام اللجان القضائية وشبه القضائية وهيئات التحكيم والنيابة العامة
                 <br>
                 <br>
                 <strong>: الإستشارات القانونية المتخصصة </strong>
                 <br>
                 تقديم الإستشارات القانونية المتخصصة في مجالات متعددة للشركات والمؤسسات المالية والتجارية والأفراد في كافة الأمور المالية والعقارية والبنكية والإدارية من النواحي القانونية
                 <br>
                 <br>
                 <strong>: العقود والإتفاقيات</strong>
                 <br>
                 . صياغة ومراجعة كافة أنواع العقود والوثائق القانونية
                 <br>
                 <br>
                 <strong> : الخدمات القانونية التجارية </strong>
                 <br>

                  متابعة كافة الإجراءات اللازمة لتسجيل الشركات والوكالة التجارية والعلامات التجارية والتمثيل أمام الجهات الرسمية مع الإمتثال الكامل للقوانين المحلية كالقانون التجاري وقانون الإستثمار الأجنبي والإلتزام
                 بالإتفاقيات الدولية , بالإضافة إلى إعادة هيكلة الشركات بما يشمل تشكيل الكيانات وحلها وعمليات الدمج والإستحواذ , والتعامل بإحترافية عالية مع حوكمة الشركات وقضايا الإفلاس وتصفية الشركات
                 <br>
                 <br>
                 صياغة ومراجعة العقود والاتفاقيات ومذكرات التفاهم التي تبرمها الشركة وفروعها والاتفاقيات العامة والخاصة بين الشركاء وبين الأطراف الأخرى وفقاً للقوانين المعمول بها في المملكة العربية السعودية وبما يحافظ على مصالح وحقوق الشركة ويمكنها من تنفيذ التزاماتها بصورة صحيحة وإبداء الرأي في المسائل القانونية والشرعية المتعلقة بالأنشطة والأعمال التي تمارسها الشركة
                 <br>
                 <br>
                 <br>
                 <strong>
                     : التركات والوصايا والأوقاف
                 </strong>
                 <br>
                 تقسيم التركات , صياغة وتنفيذ الوصايا , إدارة الأوقاف والأصل , وكل ما يتعلق بقضايا الميراث
                <br>
                 <br>
                 <strong>
                     : قضايا الأحوال الشخصية
                 </strong>
                 <br>
                 نحن متخصصون في قضايا الأحوال الشخصية بما يشمل متابعة القضايا المتعلقة بالطلاق والحضانة والنفقة والزيارة
                 <br>
                 <br>
                 <strong>
                     : التوثيق القانوني
                 </strong>
                 <br>
                 خدمات التوثيق والتسجيل القانوني وإستخدام الوسائل الإلكترونية الحديثة
                 <br>
                 توثيق الوكالات - توثيق عقود شركات - الإفراغ العقاري - توثيق الإقرارات المالية
             </h3>
            </div>
    </div>
    <img class="images" id="our_clients"  src="static/images/clients.png">
     <div class="resaltn" style="text-align:right">
             <h3 class="about_us">
                 نفتخر ونعتز بخدمة عملائنا والذين نعتبرهم شركائنا في النجاح والتميز , ونعمل بجد ونحرص على بناء وتطوير شراكات إستراتيجية وطويلة الأمد معهم . نتشرف بخدمة مجموعة كبيرة من العملاء في قطاعات ومجالات مختلفة كالشركات والمنشآت الخاصة , ورجال الأعمال , والهيئات والمنظمات والجمعيات المتنوعة , والمستثمرين الأجانب , والوزارات والقطاع العام
                 <br>
                 <br>
                 <strong>: وتتميز الشركة ببرامج خاصة لخدمة العملاء  </strong>
                 <br>
                 <br>
                 برنامج الحلول السريعة للتركات .
                 <br>
                 برنامج الوقاية من الفساد المالي والإداري .
                 <br>
                 برنامج الهيكلة القانونية للشركات والأفراد .
                 <br>
                 تقديم الخدمات القانونية عن بعد .
                 </h3>
     </div>
    <img src="static/images/company.png">

    <img id="our_team" class="header-img" src="static/images/team.png">
     <div  class="resaltn" style="text-align:right">
             <h3 class="about_us">
                 حيث تضم الشركة نخبة من المحاميين والمستشارين القانونيين ممن لهم خبرات وكفاءات قضائية سابقة وذوي المؤهلات العلمية العالية والخبرات التراكمية الطويلة والمتمرسين في المجال القانوني وتقديم الخدمات والإستشارات القانونية في جميع التخصصات . تم إنتقاؤهم بعناية إيمانا منا بمسؤوليتنا الحقوقية والقانونية ورسالتنا السامية بتحقيق العدالة الحقوقية في أبهى صورها
             </h3>
         <br>
         <br>
     </div>
    <div style="text-align:center">
         <h3 class="closer" style="font-family: 'Lateef', serif;margin-top:5%;width:70%;margin-left:15%">
             <strong>
                 يسعدنا خدمتكم وإستقبالكم بمكتبنا والإجابة على أي إستفسارات
                 <br>
                 <br>
                 شركة عبدالله صالح العريض للمحاماة والإستشارات القانونية
                 <br>
                 مسؤولية محدودة مهنية
             </strong>
         </h3>
     </div>
